<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
    <form method="post">
        <input type="text" name="User_Name">{{error1}}
        <input type="text" name="User_PassWord">{{error2}}
        <input type="text" name="User_PassWord_repeat">{{error3}}
        <input type="text" name="User_Email">{{error4}}
        <input type="submit" value="register" name="register">{{error5}}
{#      <input type="submit" value="register" name="register">{{error5}}#}
    </form>


</body>
</html>